/* ======================= (DISEÑO GLOBAL) ======================== */

:root {

    /* COLORES PRINCIPALES */
    --primary: #0097B2;    
    --primary-light: #4FC3D9;
    --primary-light-soft: #E6F4F7;    
    --primary-dark: #006B80;

    --secondary: #1E3A5F;  
    --secondary-light: #3A5F8A;  
    --secondary-dark: #14283F;

    /* NEUTRALES */
    --white: #FFFFFF; 
    --gray-light: #efefef; 
    --gray: #9CA3AF; 
    --text: #1F2937;
    --text-muted: #4B5563;

    /* ESTADOS */
    --success: #10B981; 
    --warning: #F59E0B; 
    --error: #EF4444;

    /* TIPOGRAFÍA */
    --font-title: 'Montserrat', sans-serif; 
    --font-text: 'Inter', sans-serif;

    /* ESPACIADO */
    --space-xs: 0.5rem;   /* 8px */
    --space-sm: 1rem;     /* 16px */
    --space-md: 1.5rem;   /* 24px */
    --space-lg: 2rem;     /* 32px */
    --space-xl: 3rem;     /* 48px */
    --space-xxl: 5rem;    /* 80px */

    /* BOTONES */
    --radius-sm: 0.5rem;   /* 8px */
    --radius-md: 1rem;     /* 16px */
    --radius-lg: 1.75rem;  /* 28px */
    --radius-pill: 999px;
}

/*  ======  RESET  ======  */

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/*  ==  BASE GENERAL  ==  */

html {
  font-size: 100%;    /*16px*/
  scroll-behavior: smooth;
}

body {
    font-family: var(--font-text);
    background-color: var(--white);
    color: var(--text);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: var(--font-title);
    line-height: 1.2;
}

p {
    font-size: 1.25rem;          /* 20px */
    color: var(--text-muted);
    text-align: justify;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/*  =====  LAYOUT  =====  */

section {
    padding-block: clamp(3.5rem, 5vw, 5rem); /* 56px a 80px */
    background-color: var(--white);
    position: relative;
}

.container {
    width: min(100% - 4rem, 1300px);
    margin-inline: auto;
}

/*  ===  COMPONENETES  ===  */

.btn-primary {
    display: inline-block;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius-sm);
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    transform: scale(1.03);
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-sm); /* 16px */
    margin-bottom: var(--space-xl); /* 48px */
}

.section-tag {
    display: inline-block;
    color: var(--primary-dark);
    background-color: var(--primary-light-soft);
    padding: 0.5rem 1rem;   /* 8px arriba y abajo, 12px lados */
    border-radius: var(--radius-pill);
    font-size: 1.5rem;  /* 24px */
    font-weight: 600;
    margin-bottom: var(--space-md);
    text-align: center;
    width: fit-content;
}

.section-header h2 {
    font-size: clamp(2rem, 4vw, 2.75rem);   /* 32px a 44px */
    color: var(--secondary);
    margin-bottom: var(--space-sm);         /* 16px */
}



/* ======================= INICIO: NAV + HERO ======================= */

.home-hero {
    min-height: 50rem; /* 800px */
    overflow: hidden;
    color: var(--white);
    position: relative;
}

.hero-bg-img, 
.hero-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;    
}

.hero-bg-img {
    object-fit: cover;    
    z-index: 0;
}

.hero-overlay {
    z-index: 1;
    background: linear-gradient(
        to bottom,
        rgba(20, 40, 63, 0.75) 0%,
        rgba(20, 40, 63, 0.65) 50%,
        rgba(20, 40, 63, 0.35) 75%,
        rgba(255, 255, 255, 0.9) 90%,
        rgba(255, 255, 255, 1) 100%
    );
}

.home-hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    min-height: 50rem; /* 800px */
    padding-block: clamp(3.5rem, 5vw, 5rem); /* 56px a 80px */
}

.hero-logo {
    position: absolute;
    top: clamp(5rem, calc(6rem - 1vw), 6rem); /* 80px a 96px */
    left: 4rem; /* 64px */
    width: 6rem; /* 96px */
    height: 6rem; /* 96px */
    background-color: var(--primary-light);
    border-radius: var(--radius-pill);
}

.hero-main-text {
    text-align: left;
    align-self: flex-end;
    margin-bottom: clamp(13rem, calc(14rem - 1vw), 14rem); /* 208px a 224px */
}

.hero-main-text span {
    display: inline-block;
    font-size: 2rem; /* 32px */
    font-weight: 700;
    margin-bottom: 1.25rem; /* 20px */
}

.hero-main-text h1 {
    font-size: clamp(4rem, 5vw, 5rem); /* 64px a 80px */
    margin-bottom: 2rem; /* 32px */
    color: var(--primary-light);
    text-shadow: 0 3px 18px rgba(0, 0, 0, 0.25);
}

.hero-main-text p {
    max-width: 31rem; /* 496px */
    color: var(--white);
    font-weight: 400;
}

.hero-top {
    margin-bottom: 8rem; /* 128px */
}

.menu-toggle {
    display: none;
}

.hero-nav .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--space-md); /* 24px */
    list-style: none;
}

.hero-nav a {
    display: inline-block;
    color: var(--secondary-dark);
    padding: 1rem 1.5rem; /* 16px 24px */
    border-radius: var(--radius-pill);
    font-weight: 700;
    font-size: 1rem; /* 16px */
    box-shadow: 0 12px 28px rgba(20, 40, 63, 0.18);
    transition: 0.2s ease;
}

@media (min-width: 1025px) {
    .hero-nav a {
        background: rgba(255, 255, 255, 0.75);
    }
}

.hero-nav a:hover {
    background-color: white;
    transform: translateX(-0.5rem);
}


/* ======================== SECCIÓN INTRO / CONFIANZA ======================= */

.intro-content {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 3.25rem; /* 52px */
    align-items: center;
}

.doctor-cards {
    display: flex;
    align-items: center;
    gap: min(2.5rem, 3vw); /* 40px o 3% del ancho, lo que sea menor */
}

.doctor-card {
    width: clamp(10rem, 18vw, 18rem); /* 160px a 208px */
    background-color: var(--white);
    border-radius: var(--radius-md); /* 16px */
    padding: var(--space-md);
    box-shadow: 0 0 50px rgba(0,0,0,0.08);
    text-align: center;
    transition: 0.3s ease;
}

.doctor-card img {
    width: 100%;
    border-radius: var(--radius-md); /* 16px */
    margin-bottom: var(--space-sm); /* 16px */
}

.doctor-card h3 {
    font-size: 1.25rem; /* 20px */
    color: var(--secondary);
    margin-bottom: 0.75rem; /* 12px */
}

.doctor-card p {
    color: var(--primary-dark);
    font-weight: 600;
    text-align: center;    
}

/* efecto escalera */

.doctor-card:last-child {
    margin-top: clamp(5rem, calc(6rem - 1vw), 6rem); /* 80px a 96px */
}


/* ======================================== SECCIÓN ARTÍCULOS ======================================== */

.articles-section {
    background-color: var(--primary-light-soft);
}

.articles-section::before,
.articles-section::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4rem; /* 64px */
  pointer-events: none;
}

.articles-section::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--white),
    transparent
  );
}

.articles-section::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    var(--white),
    transparent
  );
}

.articles-intro .section-tag {
    background-color: var(--white);
}

.articles-layout {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: clamp(2.5rem, 6vw, 4.5rem);
    align-items: start;
}

/* Artículo principal */

.featured-article img {
    width: 100%;
    height: clamp(22.5rem, 35vw, 24rem); /* 256px a 384px*/
    object-fit: cover;
    border-radius: var(--radius-md);   /* 16px */
    margin-bottom: var(--space-md);    /* 24px */
}

.article-category {
    display: inline-block;
    color: var(--primary-dark);
    font-size: 1.25rem;          /* 20px */
    font-weight: 600;
    margin-bottom: 0.5rem;       /* 8px */
}

.featured-article h3 {
    font-size: 2rem;                   /* 32px */
    color: var(--text);
    margin-bottom: var(--space-sm);    /* 16px */
    transition: color 0.25s ease
}

.featured-article p {
    font-size: 1rem;                   /* 16px */
    max-width: 47rem;
    margin-bottom: var(--space-md);
}

.featured-article:hover h3 {
    color: var(--primary);
}

/* Lista lateral */

.popular-articles h3 {
    font-size: 2rem;                  /* 32px */
    color: var(--text);
    margin-bottom: var(--space-lg);   /* 32px */
}

.small-article {
    display: grid;
    grid-template-columns: clamp(7rem, 12vw, 8.75rem) 1fr;
    gap: var(--space-sm);                                       /* 16px */
    align-items: center;
    margin-bottom: var(--space-lg);                             /* 32px */
    transition: transform 0.2s ease;
}

.small-article img {
    width: 100%;
    height: 6rem0;                     /* 96px */
    object-fit: cover;
    border-radius: var(--radius-md);   /* 16px */
}

.small-article h4 {
    font-family: var(--font-title);
    font-size: 1rem;                     /* 16px */
    line-height: 1.35;
    color: var(--text);
    transition: color 0.25s ease
}

.small-article:hover {
    transform: translateX(0.25rem);
}

.small-article:hover h4 {
    color: var(--primary);
}


/* =========================== SECCIÓN RECURSOS ============================= */

/* Carrusel horizontal sin JS */

.resources-carousel {
    display: flex;
    gap: var(--space-md);             /* 24px */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 1.25rem 1rem 1.5rem;     /* 20px arriba, 16px lados, 24px abajo */
    background-color: var(--gray-light);
    border-radius: var(--radius-md);
}

/* Scrollbar más limpio */
.resources-carousel::-webkit-scrollbar {
    height: 0.5rem;
}

.resources-carousel::-webkit-scrollbar-track {
    background-color: var(--gray-light);
    border-radius: var(--radius-pill);
}

.resources-carousel::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: var(--radius-pill);
}

.resource-card {
    flex: 0 0  clamp(16rem, 22vw, 19rem);   /* Ancho desde 256px a 304px */
    background-color: var(--white);
    border-radius: var(--radius-lg);         /* 28px */
    overflow: hidden;
    scroll-snap-align: start;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.resource-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1.25rem 2.75rem rgba(30, 58, 95, 0.14); 
}

.resource-card img {
    width: 100%;
    height: clamp(10.5rem, 14vw, 11.5rem);
    object-fit: cover;
}

.resource-content {
    padding: var(--space-sm);  /* 16px */
}

.resource-type {
    display: inline-block;
    color: var(--primary-dark);
    background-color: var(--primary-light-soft);
    padding: 0.25rem 0.75rem;
    border-radius: var(--radius-pill);
    font-size: 1rem;                             /* 16px */
    font-weight: 700;
    margin-bottom: var(--space-sm);              /* 16px */
}

.resource-card h3 {
    font-size: clamp(1rem, 1.4vw, 1.25rem);    /* 16px a 20px */ 
    color: var(--secondary);
    margin-bottom: var(--space-sm);
}

.resource-card p {
    font-size: 1rem; /* 16px */
    color: var(--text-muted);
    margin-bottom: var(--space-md);
}

.resource-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-sm);
}

.resource-price {
    color: var(--secondary);
    font-weight: 700;
}

.resource-price.free {
    color: var(--success);
}

.resource-btn {
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 1rem;                   /* 8px 16px */
    border-radius: var(--radius-pill);
    text-decoration: none;
    font-size: 0.75rem;                     /* 12px */
    font-weight: 700;
    transition: background-color 0.2s ease;
}

.resource-btn:hover {
    background-color: var(--primary-dark);
}


/* ========================= SECCIÓN CONSULTA ========================= */

.consult-section {
    background-color: var(--primary-light-soft);
}

.consult-section::before {
    content: "";
    position: absolute;
    inset: 0 0 auto 0;
    height: 5rem; /* 80px */
    pointer-events: none;
    background: linear-gradient(to bottom, var(--white), transparent);
}

.consult-content {
    display: flex;
    flex-direction: column;    
    position: relative;
    z-index: 1;
}

.consult-intro .section-tag {
    background-color: var(--white);
}

.consult-info {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    align-items: center;
    gap: clamp(2rem, 5vw, 4rem);
}

.consult-text {
    display: flex;
    flex-direction: column;
}

.consult-list {
    display: grid;
    gap: var(--space-xs); /* 8px */
    list-style: none;
    text-indent: 2rem; /* espacio para el ícono */
}

.consult-list li {
    position: relative;
    padding-left: 1.75rem; /* espacio para el ícono */
    font-weight: 500;
    font-size: 1.25rem; /* 20px */
    color: var(--text);
    text-align: start;
}

.consult-list li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: var(--success);
  font-weight: 800;
}

.consult-buttons {
    margin-top: var(--space-xl); /* 48px */
    font-size: 1.25rem; /* 20px */
    align-self: center;
}

/* Imagen */

.consult-image {
    width: 100%;
}

.consult-image img {
    width: 100%;
    height: clamp(15rem, 24vw, 25rem);
    border-radius: var(--radius-md);
    object-fit: cover;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.12);

}


/* ========================= FOOTER ========================= */

.footer {
    background-color: var(--secondary-dark);
    color: var(--white);
    padding-block: var(--space-xl) var(--space-md); /* 48px arriba, 24px abajo */
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl); /* 48px */
    align-items: center;
    padding-bottom: var(--space-lg); /* 32px */
} 

.footer-brand .logo-text {
    font-size: 1.5rem; /* 24px */
    font-weight: 700;
    color: var(--primary-light);
}

.footer-brand p {
    max-width: 26rem; /* 416px */
    margin-top: var(--space-sm);
    color: var(--text-light);
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.75rem var(--space-md); /* 8px filas, 24px columnas */
    justify-content: center;
    text-align: start;
}

.footer-menu h3 {
    grid-column: span 3;
    color: var(--primary-light);
    margin-bottom: var(--space-xs);
}

.footer-menu a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-menu a:hover {
    color: var(--primary-light);
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    padding-top: var(--space-md); /* 24px */
    color: var(--white);
}

.final {
    text-align: center;
}








/* ======================================= RESPONSIVE TABLET =================================== */

@media (max-width: 1024px) {

/* -- INICIO: NAV + HERO -- */

    .home-hero {
        min-height: 650px;
    }

    .home-hero-content {
        padding: 0 50px;
        gap: 40px;
        width: 100%;
        max-width: 100%;
    }

    .hero-logo {
        width: 60px;
        height: 60px;
        left: 50px;
        top: 120px;
    }

    .hero-main-text {
        max-width: 700px;
        padding-bottom: 120px;
    }

    .hero-main-text span {
        font-size: 22px;
    }

    .hero-main-text h1 {
        font-size: 60px;
    }

    .hero-main-text p {
        font-size: 18px;
        max-width: 520px;
        font-weight: 400;
    }

    .hero-top {
        position: absolute;
        top: 100px;
        right: 50px;
    }

    .menu-toggle {
        display: block;
        color: var(--white);
        background: rgba(255, 255, 255, 0.25);
        border: none;
        border-radius: 12px;
        padding: 8px 12px;
        font-size: 30px;
        cursor: pointer;
        backdrop-filter: blur(8px);
    }

    .hero-nav {
        display: none;
    }

    .hero-nav.active {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(255, 255, 255, 0.45);
        backdrop-filter: blur(12px);
        border-radius: 18px;
        padding: 18px;
    }

    .hero-nav.active .menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        text-align: center;
    }

    .hero-nav.active a {
        color: var(--secondary-dark);
        background-color: transparent;
        padding: 10px 14px;
        width: 100%;
        box-shadow: none;
    }

    .hero-nav.active a:hover {
        background: rgba(255, 255, 255, 0.15);
    }

/* SECCIÓN INTRO / CONFIANZA */

    .intro-content {
        grid-template-columns: 0.8fr 1.2fr;
        gap: 40px;
        align-items: center;
        padding: 0 50px;
    }

    .doctor-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px
    }

    .doctor-card {
        display: grid;
        grid-template-columns: clamp(100px, 14vw, 120px) 1fr;
        column-gap: 1rem;
        width: clamp(220px, 40vw, 300px);
    }

    .doctor-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
    }

    .doctor-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    aspect-ratio: 1/1.1;
    margin-bottom: 0;
    }

    .doctor-card h3 {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    .doctor-card p {
        font-size: 14px;
    }

    .doctor-card:first-child {
        margin-top: 0;
        margin-bottom: 0;
    }

    .doctor-card:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }

    .section-tag {
        font-size: 1.25rem; /* 20px */
        text-align: center;
    }

    .intro-text h2 {
        font-size: 32px;
    }

    .intro-text p {
        font-size: 14px;
        max-width: 520px;
        text-align: justify;
    }

/*  SECCIÓN ARTÍCULOS  */

    .articles-content {
        padding: 0 50px;
    }

    .section-header {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .section-header .section-tag {
    font-size: 1.25rem; /* 20px */
    }

    .section-header h2 {
        font-size: 32px;
    }

    .section-header p {
        font-size: 14px;
    }

    .articles-layout {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    /* Artículo principal */

    .featured-article h3 {
        font-size: 28px;
    }

    .featured-article p {
        font-size: 14px;
    }

    /* Lista lateral */

    .popular-articles {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 16px;    
    }

    .popular-articles h3 {
        grid-column: 1 / -1; 
    }


/*  SECCIÓN RECURSOS  */

    .resources-section {
        padding-block: var(--space-mg); /* 24px arriba y abajo */
    }

    .resources-header {
        gap: var(--space-xs); /* 8px */
        margin-bottom: var(--space-lg); /* 24px */
    }

    .resources-header .section-tag {
        font-size: 1.25rem; /* 20px */
    }

    .resources-header h2 {
        font-size: clamp(1.75rem, 4vw, 2.5rem); /* 28px a 40px */
        margin-bottom: var(--space-xs); /* 8px */
    }

    .resources-header p {
        font-size: 1rem; /* 16px */
    }

/* Carrusel horizontal sin JS */

    .resources-carousel {
        gap: var(--space-sm); /* 16px */
        padding: 0.5rem 0.25rem 1.25rem; /* 8px arriba, 4px lados, 20px abajo */
    }

    .resource-card {
        flex: 0 0 18rem;  /* Ancho fijo de 288px */
    }

    .resource-card img {
        height: 10.5rem; /* 168px */
    }

    .resource-content {
        padding: var(--space-sm); /* 16px */
    }


/*  SECCIÓN CONSULTA  */

    .consult-section {
        padding-block: clamp(1.5rem, 4vw, 4rem); /* 24px a 64px */
    }

    .consult-content {
        gap: var(--space-lg); /* 32px */
    }

    .consult-header {
    gap: var(--space-xs); /* 8px */
    margin-bottom: var(--space-lg); /* 32px */
    }

    .consult-header .section-tag {
        background-color: var(--white);
        font-size: 1.25rem; /* 20px */
    }

    .consult-header h2 {
        font-size: clamp(2rem, 4vw, 2.5rem); /* 32px a 40px */
        margin-bottom: var(--space-xs); /* 8px */
    }

    .consult-header p {
        font-size: 1rem; /* 16px */
    }

    .consult-buttons {
        margin-top: var(--space-lg); /* 32px */
    }


/*  FOOTER  */

    .footer {
        padding-block: var(--space-lg) var(--space-md); /* 32px arriba, 24px abajo */
    }

    .footer-content {
        gap: var(--space-xl); /* 48px */
        padding-bottom: var(--space-lg); /* 32px */
    } 

    .footer-brand .logo-text {
        font-size: 1.25rem; /* 20px */
    }

    .footer-brand p {
        max-width: 22rem; /* 416px */
        margin-top: var(--space-sm);
    }

    .footer-menu {
        gap: 0.5rem var(--space-md); /* 8px filas, 24px columnas */
    }


}





/* ======================================== RESPONSIVE MOBILE ================================== */

/*INICIO: NAV + HERO */  /*  SECCIÓN ARTÍCULOS  */ /*  SECCIÓN RECURSOS  */ /*  SECCIÓN CONSULTA  */

@media (max-width: 768px) {

    /* -- INICIO: NAV + HERO -- */

    .home-hero,
    .hero-overlay,
    .home-hero-content {
        min-height: 550px;
    }

    .home-hero-content {
        padding: 0 32px;
    }

    .hero-logo {
        width: 45px;
        height: 45px;
        left: 32px;
        top: 100px;
    }

    .hero-main-text {
        max-width: 300px;
        padding-bottom: 150px;
    }

    .hero-main-text span {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .hero-main-text h1 {
        font-size: 38px;
        margin-bottom: 22px;
        max-width: 400px;
    }

    .hero-main-text p {
        font-size: 15px;
        max-width: 320px;
        line-height: 1.5;
        font-weight: 300;
    }

    .hero-top {
        top: 100px;
        right: 32px;
    }

    .menu-toggle {
        font-size: 26px;
        padding: 7px 10px;
    }

    .hero-nav.active {
        top: 55px;
        right: 0;
        min-width: 220px;
        padding: 18px;
        background: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(12px);
    }

    .hero-nav.active a {
        font-size: 15px;
        white-space: nowrap;
    }

/*  SECCIÓN ARTÍCULOS  */

    .articles-section {
        background-color: var(--primary-light-soft);
        padding-block: clamp(4rem, 8vw, 7rem);
        position: relative;
    }

    .section-header .section-tag {
    font-size: 14px;
    }

    .section-header h2 {
        font-size: 30px;
    }

    .section-header p {
        font-size: 12px;
    }

/* Artículo principal */

    .article-category {
        font-size: 12px;
    }

    .featured-article h3 {
        font-size: 28px;
    }

    .featured-article p {
        font-size: 12px;
    }

/* Lista lateral */

    .popular-articles {
        grid-template-columns: 1fr;
    }

    .popular-articles h3 {
        font-size: 21px;
    }

    .small-article h4 {
        font-size: 14px;
    }

/*  SECCIÓN RECURSOS  */

    .resources-section {
        padding-block: var(--space-sm); /* 16px arriba y abajo */
    }

    .resources-header {
        gap: var(--space-xs); /* 8px */
        margin-bottom: var(--space-lg); /* 32px */
    }

    .resources-header h2 {
        font-size: 1.75rem; /* 28px */
        margin-bottom: var(--space-xs); /* 8px */
    }

    .resources-header p {
        font-size: 1rem; /* 16px */
    }

/* Carrusel horizontal sin JS */

    .resources-carousel {
        gap: var(--space-sm); /* 16px */
        padding: 0.5rem 0.25rem 1.25rem; /* 8px arriba, 4px lados, 20px abajo */
    }

    .resource-card {
        flex: 0 0 16rem;  /* Ancho fijo de 256px */
    }

    .resource-card img {
        height: 10.5rem; /* 168px */
    }

    .resource-content {
        padding: var(--space-sm); /* 16px */
    }

    .resource-type {
        margin-bottom: var(--space-xs); /* 8px */
    }

    .resource-card h3 {
        font-size: 1.125rem; /* 18px */
        margin-bottom: var(--space-xs); /* 8px */
    }

    .resource-card p {
        font-size: 0.75rem; /* 12px */
        margin-bottom: var(--space-xs); /* 8px */
    }

    .resource-footer {
        align-items: flex-start;
        gap: var(--space-xs); /* 8px */
    }


/*  SECCIÓN CONSULTA  */

    .consult-section {
        padding-block: var(--space-sm); /* 16px arriba y abajo */
    }

    .consult-content {
        grid-template-columns: 1fr;
        gap: var(--space-md); /* 24px */
    }

    .consult-header {
        margin-bottom: var(--space-sm); /* 24px */
    }

    .consult-header h2 {
        font-size: clamp(1.75rem, 8vw, 2rem); /* 28px a 32px */
    }
 
    .consult-list {
        margin-block: var(--space-sm); /* 16px arriba y abajo */
    }

    .consult-list li {
        font-size: 1rem; /* 16px */
    }

     .consult-buttons {
        gap: var(--space-sm); /* 16px */
        align-items: center;
        justify-content: center;
        margin-top: var(--space-md);    /* 24px */
    }

     .consult-buttons .btn-primary {
        width: 50%;
        text-align: center;
    }

    .consult-image img {
        height: 16rem;
        object-fit: cover;
    }


/*  FOOTER  */

    .footer {
        padding-block: var(--space-md) var(--space-sm); /* 32px arriba, 24px abajo */
    }

    .footer-content {
        grid-template-columns: 1fr;
        gap: var(--space-lg); /* 48px */
        padding-bottom: var(--space-md); /* 32px */
    } 

    .footer-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-brand p {
        max-width: 25rem; /* 400px */
        margin-top: var(--space-sm);
    }

    .footer-menu {
        justify-content: center;
        text-align: center;
        gap: var(--space-sm); /* 8px filas, 24px columnas */
    }

    .footer-menu h3 {
        margin-bottom: var(--space-xs);
    }

    .footer-bottom {
        font-size: 0.875rem;
    }


}


/* SECCIÓN INTRO / CONFIANZA */

@media (max-width: 700px) {

    /* SECCIÓN INTRO / CONFIANZA */

    .intro-content {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .intro-text {
        order: 1;
    }

    .section-tag {
        font-size: 14px;
    }    

    .doctor-cards {
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    .doctor-card {
        width: clamp(135px, 44vw, 165px);
        height: auto;
        padding: clamp(0.7rem, 3vw, 1rem);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .doctor-card img {
        width: 100%;
        max-width: clamp(85px, 28vw, 115px);
        height: auto;
        aspect-ratio: 1/1.2;
        object-fit: cover;
        border-radius: 14px;
    }

    .doctor-info h3 {
        margin-top: 0.8rem;
        font-size: 0.9rem;
        line-height: 1.25;
    }

    .doctor-info p {
        margin-top: 0.35rem;
        font-size: 0.78rem;
    }

}

@media (max-width: 380px) {

    /* SECCIÓN INTRO / CONFIANZA */

    .intro-text h2 {
        font-size: 28px;
    }

    .intro-text p {
        font-size: 12px;
    }

    .doctor-cards {
        gap: 0.5rem;
    }

    .doctor-card {
        width: 48%;
        min-width: unset;
        padding: 0.65rem 0.45rem;
    }

    .doctor-card img {
        max-width: 80px;
        aspect-ratio: 1/1.2;
        object-fit: cover;
        border-radius: 14px;
    }

    .doctor-info h3 {
        font-size: 0.78rem;
    }

    .doctor-info p {
        font-size: 0.68rem;
    }

  .consult-header h2 {
    font-size: 1.75rem;
  }

  .consult-image img {
    height: 13rem;
  }

  .consult-buttons .btn-primary {
    width: 100%;
    text-align: center;
  }


}